@model List<OrderHeader>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Orders List
            </h2>
        </div>

    </div>

</div>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Phone Number
            </th>

            <th>
                Tracking Number
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.ApplicationUserId</td>
                <td>@obj.Name</td>
                <td>@obj.PhoneNumber</td>
                <td>@obj.City</td>

                <td>@obj.TrackingNumber</td>

            </tr>

        }
    </tbody>
</table>
